<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-postarea</id>
    <name>postarea</name>
    <file>tshop-um-postarea.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">最多可添加三排包邮区域，每个区域三个宝贝。</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>750,950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="sky">
            <css>assets/stylesheets/sky.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="模块">
            <section folded="false" title="基本设置">
                <param ptype="text" name="moduletitle" label="标题" formType="text" description="留空则不显示">包邮专区</param>
            </section>
            <section folded="false" title="标题右侧">
                <param ptype="text" name="moduletxt" label="标题" formType="text" description="留空则不显示">查看所有宝贝</param>
                <param ptype="text" name="moduletxtlink" label="链接" formType="text" description="链接">#</param>
            </section>
        </group>
        <group title="宝贝">
            <section folded="false" title="整体设置">
                <param ptype="text" name="tabgroup" label="显示排数" formType="select" description="每排2个包邮专区">
                    <option selected="selected" value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </param>
            </section>
            <section folded="true" title="包邮1">
                <param ptype="text" name="resources1" label="数据来源" formType="select" description="选择数据的来源">
                    <option selected="selected" value="1">按所选类目自动获取宝贝</option>
                    <option value="2">按宝贝选择器手动选择宝贝</option>
                    <option value="3">按关键字自动获取宝贝</option>
                </param>
                <param ptype="category" name="cates1" label="类目选择器(限1个)" formType="categoryForm" description="通过类目选择器自动获取宝贝"></param>
                <param ptype="item" name="item1" label="宝贝选择器(限6个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝，限6个">1,2,3,4,5</param>
                <param ptype="text" name="keyword1" label="关 键 字" formType="text" description="通过关键字自动获取宝贝（当数据来源选择为按关键字自动获取宝贝时输入有效）">裙</param>
                <param ptype="text" name="order1" label="宝贝排序" formType="select" description="选择宝贝的排列顺序">
                    <option selected="selected" value="price">按宝贝价格的升序排列</option>
                    <option value="_price">按宝贝价格的降序排列</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门搜藏升序排序</option>
                    <option value="_HotKeep">以热门搜藏降序排序</option>
                </param>
                <param ptype="text" name="tip1" label="角标文案" formType="text" description="设置角标文案">包邮</param>
            </section>
            <section folded="true" title="包邮2">
                <param ptype="text" name="resources2" label="数据来源" formType="select" description="选择数据的来源">
                    <option selected="selected" value="1">按所选类目自动获取宝贝</option>
                    <option value="2">按宝贝选择器手动选择宝贝</option>
                    <option value="3">按关键字自动获取宝贝</option>
                </param>
                <param ptype="category" name="cates2" label="类目选择器(限1个)" formType="categoryForm" description="通过类目选择器自动获取宝贝"></param>
                <param ptype="item" name="item2" label="宝贝选择器(限6个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝，限6个">1,2,3,4,5</param>
                <param ptype="text" name="keyword2" label="关 键 字" formType="text" description="通过关键字自动获取宝贝（当数据来源选择为按关键字自动获取宝贝时输入有效）">裙</param>
                <param ptype="text" name="order2" label="宝贝排序" formType="select" description="选择宝贝的排列顺序">
                    <option selected="selected" value="price">按宝贝价格的升序排列</option>
                    <option value="_price">按宝贝价格的降序排列</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门搜藏升序排序</option>
                    <option value="_HotKeep">以热门搜藏降序排序</option>
                </param>
                <param ptype="text" name="tip2" label="角标文案" formType="text" description="设置角标文案">包邮</param>
            </section>
            <section folded="true" title="包邮3">
                <param ptype="text" name="resources3" label="数据来源" formType="select" description="选择数据的来源">
                    <option selected="selected" value="1">按所选类目自动获取宝贝</option>
                    <option value="2">按宝贝选择器手动选择宝贝</option>
                    <option value="3">按关键字自动获取宝贝</option>
                </param>
                <param ptype="category" name="cates3" label="类目选择器(限1个)" formType="categoryForm" description="通过类目选择器自动获取宝贝"></param>
                <param ptype="item" name="item3" label="宝贝选择器(限6个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝，限6个">1,2,3,4,5</param>
                <param ptype="text" name="keyword3" label="关 键 字" formType="text" description="通过关键字自动获取宝贝（当数据来源选择为按关键字自动获取宝贝时输入有效）">裙</param>
                <param ptype="text" name="order3" label="宝贝排序" formType="select" description="选择宝贝的排列顺序">
                    <option selected="selected" value="price">按宝贝价格的升序排列</option>
                    <option value="_price">按宝贝价格的降序排列</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门搜藏升序排序</option>
                    <option value="_HotKeep">以热门搜藏降序排序</option>
                </param>
                <param ptype="text" name="tip3" label="角标文案" formType="text" description="设置角标文案">包邮</param>
            </section>
            <section folded="true" title="包邮4">
                <param ptype="text" name="resources4" label="数据来源" formType="select" description="选择数据的来源">
                    <option selected="selected" value="1">按所选类目自动获取宝贝</option>
                    <option value="2">按宝贝选择器手动选择宝贝</option>
                    <option value="3">按关键字自动获取宝贝</option>
                </param>
                <param ptype="category" name="cates4" label="类目选择器(限1个)" formType="categoryForm" description="通过类目选择器自动获取宝贝"></param>
                <param ptype="item" name="item4" label="宝贝选择器(限6个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝，限6个">1,2,3,4,5</param>
                <param ptype="text" name="keyword4" label="关 键 字" formType="text" description="通过关键字自动获取宝贝（当数据来源选择为按关键字自动获取宝贝时输入有效）">裙</param>
                <param ptype="text" name="order4" label="宝贝排序" formType="select" description="选择宝贝的排列顺序">
                    <option selected="selected" value="price">按宝贝价格的升序排列</option>
                    <option value="_price">按宝贝价格的降序排列</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门搜藏升序排序</option>
                    <option value="_HotKeep">以热门搜藏降序排序</option>
                </param>
                <param ptype="text" name="tip4" label="角标文案" formType="text" description="设置角标文案">包邮</param>
            </section>
            <section folded="true" title="包邮5">
                <param ptype="text" name="resources5" label="数据来源" formType="select" description="选择数据的来源">
                    <option selected="selected" value="1">按所选类目自动获取宝贝</option>
                    <option value="2">按宝贝选择器手动选择宝贝</option>
                    <option value="3">按关键字自动获取宝贝</option>
                </param>
                <param ptype="category" name="cates5" label="类目选择器(限1个)" formType="categoryForm" description="通过类目选择器自动获取宝贝"></param>
                <param ptype="item" name="item5" label="宝贝选择器(限6个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝，限6个">1,2,3,4,5</param>
                <param ptype="text" name="keyword5" label="关 键 字" formType="text" description="通过关键字自动获取宝贝（当数据来源选择为按关键字自动获取宝贝时输入有效）">裙</param>
                <param ptype="text" name="order5" label="宝贝排序" formType="select" description="选择宝贝的排列顺序">
                    <option selected="selected" value="price">按宝贝价格的升序排列</option>
                    <option value="_price">按宝贝价格的降序排列</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门搜藏升序排序</option>
                    <option value="_HotKeep">以热门搜藏降序排序</option>
                </param>
                <param ptype="text" name="tip5" label="角标文案" formType="text" description="设置角标文案">包邮</param>
            </section>
            <section folded="true" title="包邮6">
                <param ptype="text" name="resources6" label="数据来源" formType="select" description="选择数据的来源">
                    <option selected="selected" value="1">按所选类目自动获取宝贝</option>
                    <option value="2">按宝贝选择器手动选择宝贝</option>
                    <option value="3">按关键字自动获取宝贝</option>
                </param>
                <param ptype="category" name="cates6" label="类目选择器(限1个)" formType="categoryForm" description="通过类目选择器自动获取宝贝"></param>
                <param ptype="item" name="item6" label="宝贝选择器(限6个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝，限6个">1,2,3,4,5</param>
                <param ptype="text" name="keyword6" label="关 键 字" formType="text" description="通过关键字自动获取宝贝（当数据来源选择为按关键字自动获取宝贝时输入有效）">裙</param>
                <param ptype="text" name="order6" label="宝贝排序" formType="select" description="选择宝贝的排列顺序">
                    <option selected="selected" value="price">按宝贝价格的升序排列</option>
                    <option value="_price">按宝贝价格的降序排列</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门搜藏升序排序</option>
                    <option value="_HotKeep">以热门搜藏降序排序</option>
                </param>
                <param ptype="text" name="tip6" label="角标文案" formType="text" description="设置角标文案">包邮</param>
            </section>
        </group>
    </parameters>
</module>
