<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-module</id>
    <name>TAE测试模块</name>
    <file>tshop-um-module.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">该模块调用了tae应用的服务器接口，请参考module.xml中新增元素included-app。为了确保demo完整，不要删除apps下的应用vote_app</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190,550,750,950</supportedWidth>
    <included-app>vote-app</included-app>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
