/**
 * 模块：tshop-um-KA_KEFU 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-KA_KEFU"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-KA_KEFU {width:190px; margin-bottom:5px; background:#111}

.tshop-um-KA_KEFU .title{width:185px; height:58px; padding:13px 0 0 5px; background:url(assets/images/titlebg.png) 0 0 no-repeat}




.tshop-um-KA_KEFU .shouqian .shouqian_title,
.tshop-um-KA_KEFU .shouhou .shouhou_title{width:190px; height:33px; margin-top:10px; line-height:33px; background:url(assets/images/dt.png) 0 0 no-repeat; text-align:center; color:#FFF; font-family:"微软雅黑"; font-size:14px}


.tshop-um-KA_KEFU .shouqian dl dd,
.tshop-um-KA_KEFU .shouhou dl dd{width:190px; background:url(assets/images/xian.png) center bottom no-repeat}

.tshop-um-KA_KEFU .shouqian .shouqian_k,
.tshop-um-KA_KEFU .shouhou .shouhou_k{width:95px; height:30px; position:relative; text-indent:40px; float:left; background:url(assets/images/w.png) 20px 7px no-repeat; display:block; line-height:30px; color:#FFF; font-family:"微软雅黑"; font-size:12px; text-decoration:none}


.tshop-um-KA_KEFU .shouqian .shouqian_k a,
.tshop-um-KA_KEFU .shouhou .shouhou_k a{width:95px; height:30px; display:block; position:absolute; left:0px; top:0px;}
.tshop-um-KA_KEFU .shouqian .shouqian_k a img,
.tshop-um-KA_KEFU .shouhou .shouhou_k a img{display:none}

.tshop-um-KA_KEFU .yingye{width:190px; margin-top:20px; background:url(assets/images/s.png) 0 0 no-repeat}

.tshop-um-KA_KEFU .yingye .s a,
.tshop-um-KA_KEFU .yingye .s{width:190px; height:95px; display:block}

.tshop-um-KA_KEFU .yingye .y{width:190px; line-height:13px; height:20px; color:#FFF; display:block; margin-top:25px; text-align:center;}










.tshop-um-KA_KEFU .shouqian:after,
.tshop-um-KA_KEFU .shouhou:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

/********************************************
 * 版  本：SA.1.0                           *
 * 时  间：2012.10.16 PM                    *
 * 作  者：Allen                            *
 * 旺  铺：http://xjcqc.taobao.com          *
 * 联系QQ：584643662（希望能与您为朋友！）  *
 * T E L: 18623601682                       *
 ********************************************/ 