<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-service</id>
    <name>客服在线190</name>
    <file>tshop-um-service.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"></description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="sky">
            <css>assets/stylesheets/sky.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="基本设置">
            <section folded="false" title="标题">
                <param ptype="text" name="moduletitle" label="标题" formType="text" description="请注意控制字数">客服中心</param>
            </section>
            <section folded="true" title="手机二维码">
                <param ptype="text" name="codeshow" label="显示设置" formType="select" description="是否显示手机二维码">
                    <option selected="selected" value="1">显示</option>
                    <option value="2">不显示</option>
                </param>
                <param ptype="text" name="codepic" label="图片" formType="text" description="手机二维码图片"></param>
                <param ptype="text" name="codetxt" label="说明" formType="text" description="手机二维码旁边附的说明文字"></param>
                <param ptype="text" name="codelink" label="链接" formType="text" description="手机二维码说明文字链接">#</param>
            </section>
        </group>
        <group title="客服">
            <section folded="false" title="售前客服">
                <param ptype="text" name="servicehead1" label="标题" formType="text" description="售前客服">售前导购</param>
                <param ptype="textarea" name="servicenick1" label="昵称" formType="textarea" description=" 设置客服昵称[四字最佳],用竖杆[|]分割 [说明:昵称个数需和下面ID个数要一致]">昵称1|昵称2|昵称3|昵称4|昵称5|昵称6</param>
                <param ptype="textarea" name="serviceid1" label="旺ID" formType="textarea" description=" 阿里旺旺登录帐号,方法同上">客服|客服|客服|客服|客服|客服</param>
            </section>
            <section folded="true" title="售后客服">
                <param ptype="text" name="servicehead2" label="标题" formType="text" description="售后客服">售后服务</param>
                <param ptype="textarea" name="servicenick2" label="昵称" formType="textarea" description="设置客服昵称[四字最佳],用竖杆[|]分割 [说明:昵称个数需和下面ID个数要一致]">昵称|昵称|昵称|昵称</param>
                <param ptype="textarea" name="serviceid2" label="旺ID" formType="textarea" description="阿里旺旺登录帐号,方法同上">客服|客服|客服|客服</param>
            </section>
            <section folded="true" title="旺旺群">
                <param ptype="text" name="kefugroupshow" label="显示" formType="select" description="是否显示旺旺群">
                    <option selected="selected" value="1">显示</option>
                    <option value="2">不显示</option>
                </param>
                <param ptype="text" name="kefugroupid" label="旺群ID" formType="text" description="旺旺群ID">123456</param>
                <param ptype="text" name="kefugrouptxt" label="说明" formType="text" description="旺旺群ID">买家群一起讨论</param>
            </section>
            <section folded="true" title="工作时间">
                <param ptype="text" name="worktimetitle" label="标题" formType="text" description="在线时间说明">在线时间</param>
                <param ptype="text" name="worktimetxt" label="说明" formType="text" description="工作时间说明">工作时间：09:00-24:00</param>
            </section>
        </group>
    </parameters>
</module>
