<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-KA_BOTTOM</id>
    <name>底部信息</name>
    <file>tshop-um-KA_BOTTOM.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">底部信息【版权信息】</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="底部设置">
            <section folded="false" title="导航">
                <param ptype="text" name="b_title" label="标题" formType="textarea" description="请填写导航的标题，多个以 | 分隔">首页|男人专区|女人专区|鞋包专区|配件专区|服饰|回顶部</param>
                <param ptype="text" name="b_href" label="链接" formType="textarea" description="请填写客服的旺旺ID,多个以 | 分隔">http://www.taobao.com?1|http://www.taobao.com?2|http://www.taobao.com?3|http://www.taobao.com?4|http://www.taobao.com?5|http://www.taobao.com?6|http://www.taobao.com?7|</param>
            </section>
        </group>
        <group title="客服设置">
            <section folded="false" title="旺旺设置">
                <param ptype="text" name="k_id" label="客服ID" formType="textarea" description="请填写客服的旺旺ID,多个以 | 分隔">xjcqc|xjcqc|xjcqc|ww</param>
                <param ptype="text" name="k_title" label="客服昵称" formType="textarea" description="请填写客服的昵称，多个以 | 分隔">向建成|天天好|江燕柳</param>
            </section>
        </group>
        <group title="其它设置">
            <section folded="false" title="文字设置">
                <param ptype="text" name="b_r" label="标题一" formType="text" description="请填写标题">&lt;b&gt;热销&lt;/b&gt;商品</param>
                <param ptype="text" name="b_r_href" label="标题一链接" formType="text" description="请填写标题的链接">http://www.taobao.com/?s</param>
                <param ptype="text" name="b_x" label="标题二" formType="text" description="请填写标题">&lt;b&gt;新品&lt;/b&gt;特价</param>
                <param ptype="text" name="b_x_href" label="标题二链接" formType="text" description="请填写标题的链接">http://www.taobao.com/?s</param>
                <param ptype="text" name="b_k" label="标题三" formType="text" description="请填写标题">&lt;b&gt;客服&lt;/b&gt;中心</param>
                <param ptype="text" name="b_k_href" label="标题三链接" formType="text" description="请填写标题的链接">http://www.taobao.com/?s</param>
            </section>
        </group>
    </parameters>
</module>
