/**
 * 模块：tshop-um-mainsell 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-mainsell"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */
.tshop-um-mainsell .mainsell_hd {
  background: url("../../assets/images/950hdbg.png") no-repeat;
  _background: url("../../assets/images/950hdbg.gif") no-repeat;
  height: 40px;
  position: relative;
  line-height: 35px;
  padding: 0 43px;
  color: #FFF;
}
.tshop-um-mainsell .mainsell_hd h3 {
  font-size: 14px;
  font-weight: normal;
  font-family: "寰杞榛";
}
.tshop-um-mainsell .mainsell_hd a {
  color: #FFF;
}
.tshop-um-mainsell .mainsell_hd .link_list {
  position: absolute;
  right: 40px;
  top: 12px;
  line-height: 14px;
  height: 14px;
}
.tshop-um-mainsell .mainsell_hd .link_list a {
  margin-left: 8px;
  padding-left: 8px;
  display: inline-block;
  border-left: 1px solid #FFF;
}
.tshop-um-mainsell .mainsell_hd .link_list .first {
  border: none;
}
.tshop-um-mainsell .mainsell_bd:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.tshop-um-mainsell .mainsell_bd .item_left,
.tshop-um-mainsell .mainsell_bd .item_right {
  width: 210px;
  margin-left: 15px;
  float: left;
}
.tshop-um-mainsell .mainsell_bd .item_right {
  float: right;
  margin: 0 15px 0;
}
.tshop-um-mainsell .mainsell_bd .item_center {
  width: 450px;
  float: left;
  margin-left: 23px;
}
.tshop-um-mainsell .mainsell_bd .item_center .pic {
  width: 450px;
}
.tshop-um-mainsell .mainsell_bd .item_center .pic a {
  width: 450px;
  height: 450px;
}
.tshop-um-mainsell .mainsell_bd .item_center .detail {
  position: relative;
}
.tshop-um-mainsell .mainsell_bd .item_center .detail .tip {
  background: url(assets/images/hot.png) no-repeat;
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.tshop-um-mainsell .mainsell_bd .item_center .detail h3 {
  padding-left: 37px;
}
.tshop-um-mainsell .mainsell_bd .item_center .detail .sell {
  float: left;
}
.tshop-um-mainsell .mainsell_bd .item_center .detail .price {
  float: right;
  margin-right: 10px;
  *margin-top: 2px;
  background: url(assets/images/price.png) no-repeat;
  width: 187px;
  height: 24px;
  position: relative;
}
.tshop-um-mainsell .mainsell_bd .item_center .detail .price span {
  color: #FFF;
  font-weight: bold;
  position: relative;
  left: 26px;
  top: 4px;
}
.tshop-um-mainsell .mainsell_bd .item_center .detail .price a {
  display: block;
  width: 66px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
.tshop-um-mainsell .mainsell_bd .item_center .item3 .pic,
.tshop-um-mainsell .mainsell_bd .item_center .item3 .pic a {
  height: 210px;
}
.tshop-um-mainsell .mainsell_bd .item_center .item4 .pic,
.tshop-um-mainsell .mainsell_bd .item_center .item4 .pic a {
  height: 510px;
}
.tshop-um-mainsell .mainsell_bd li {
  background-color: #252525;
  margin-top: 10px;
  padding-bottom: 10px;
}
.tshop-um-mainsell .mainsell_bd .pic {
  border: 1px solid #E5E5E5;
  width: 222px;
  width: 210px;
  border: none;
  border-bottom: 1px solid #959394;
}
.tshop-um-mainsell .mainsell_bd .pic a {
  width: 220px;
  height: 220px;
  display: block;
  border: 1px solid #FFF;
  background-position: center center;
  background-repeat: no-repeat;
}
.tshop-um-mainsell .mainsell_bd .pic a {
  width: 210px;
  height: 210px;
  border: none;
  position: relative;
  text-decoration: none;
}
.tshop-um-mainsell .mainsell_bd .pic a:hover .price,
.tshop-um-mainsell .mainsell_bd .pic a:hover .mask {
  display: block;
}
.tshop-um-mainsell .mainsell_bd .pic a .price {
  display: none;
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: 3;
  color: #B5BAC0;
  width: 210px;
  font-size: 14px;
  text-align: center;
}
.tshop-um-mainsell .mainsell_bd .pic a .mask {
  display: none;
  background-color: #000;
  width: 210px;
  height: 23px;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  filter: progid:dximagetransform.microsoft.alpha(opacity=60);
  left: 0;
  bottom: 0;
}
.tshop-um-mainsell .mainsell_bd .detail {
  color: #7B7D7A;
  *zoom: 1;
}
.tshop-um-mainsell .mainsell_bd .detail:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.tshop-um-mainsell .mainsell_bd .detail h3 {
  font-weight: normal;
  padding: 6px 5px;
  height: 36px;
  overflow: hidden;
}
.tshop-um-mainsell .mainsell_bd .detail h3 a {
  color: #7B7D7A;
}
.tshop-um-mainsell .mainsell_bd .detail .common-like {
  background: none;
  border: none;
  float: left;
}
.tshop-um-mainsell .mainsell_bd .detail .common-like a {
  text-decoration: none;
}
.tshop-um-mainsell .mainsell_bd .detail .common-like .dig-button-title {
  color: #7B7D7A;
}
.tshop-um-mainsell .mainsell_bd .detail .common-like .dig-count {
  color: #FFF;
}
.tshop-um-mainsell .mainsell_bd .detail .sell {
  float: right;
  margin: 2px 5px 0 0;
}
.tshop-um-mainsell .mainsell_bd .detail .sell em {
  color: #FFF;
}
