<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-KA_JUHUASUAN</id>
    <name>聚划算</name>
    <file>tshop-um-KA_JUHUASUAN.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">促销导航【轮播四个宝贝展示】</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="文字设置">
            <section folded="false" title="宝贝编辑">
                <param ptype="item" name="yuan-title" label="标题一" formType="itemForm" description="请输入标题一"></param>
                <param ptype="item" name="zhe-title" label="标题二" formType="itemForm" description="请输入标题二"></param>
                <param ptype="item" name="shen-title" label="标题三" formType="itemForm" description="请输入标题三"></param>
            </section>
        </group>
        <group title="宝贝设置">
            <section folded="false" title="宝贝编辑">
                <param ptype="text" name="ju_open" label="宝贝信息" formType="range" description="默认为 自动获取">
                    <option value="auto">自动获取</option>
                    <option selected="selected" value="shou">手动编辑</option>
		        </param>
                <param ptype="item" name="baobei_s" label="选择宝贝" formType="itemForm" description="请选择系统宝贝最多显示4个，多输入无显示"></param>
                <param ptype="text" name="baobei_p" label="宝贝排序" formType="select" description="请选择系统宝贝输出的顺序 默认按人气升序">
                    <option selected="selected" value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序 </option>
                    <option value="price">以宝贝价格升序排序</option>
                    <option value="_price">以宝贝价格降序排序 </option>
                    <option value="newOn">以最新上架宝贝升序排序 </option>
                    <option value="_newOn">以最新上架宝贝降序排序 </option>
                    <option value="HotKeep">以热门搜藏升序排序 </option>
                    <option value="_HotKeep">以热门搜藏降序排序  </option>
		        </param>
            </section>
            <section folded="false" title="编辑宝贝">
                <param ptype="text" name="baobei_title" label="宝贝标题" formType="text" description="请填写宝贝标名称,多个以 | 分隔最多4个，多输入无显示">自定义文字|自定义文字|自定义文字|自定义文字</param>
                <param ptype="text" name="baobei_zhekou" label="宝贝折扣" formType="text" description="请填写宝贝的折扣，多个以 | 分隔，最多4个，多输入无显示">8|9|95|85</param>
                <param ptype="text" name="baobei_con" label="宣传语" formType="textarea" description="请填写宝贝宣传语文字，多个以 | 分隔，多输入无显示">自定义文字|自定义文字|自定义文字|自定义文字</param>
                <param ptype="text" name="baobei_img" label="图片路径" formType="textarea" description="请填写宝贝图片地址，多个以 | 分隔，多输入无显示">assets/images/1.jpg|assets/images/2.jpg|assets/images/3.jpg|assets/images/4.jpg</param>
            </section>
        </group>
        <group title="功能设置">
            <section folded="false" title="标题栏设置">
                <param ptype="text" name="title_open" label="标题栏" formType="range" description="默认为 显示">
                    <option selected="selected" value="yes">显示</option>
                    <option value="no">不显示</option>
		        </param>
                <param ptype="text" name="title" label="主标题" formType="text" description="请填写标题栏目名称">自定义导航栏目</param>
                <param ptype="text" name="more" label="更多链接" formType="text" description="请填写更多按钮的链接">http://www.taobao.com/?s</param>
                <param ptype="text" name="title_wenzi" label="分类文字" formType="textarea" description="请填写标题栏目上的分类文字，多个以 | 分隔">自定义|自定义|自定义</param>
                <param ptype="text" name="title_href" label="分类链接" formType="textarea" description="请填写标题栏目上的分类文字的链接，多个以 | 分隔">http://www.taobao.com/?s|http://www.taobao.com/?d|http://www.taobao.com/?s|http://www.taobao.com/?s|http://www.taobao.com/?s</param>
            </section>
            <section folded="false" title="功能设置">
                <param ptype="text" name="target" label="打开方式" formType="range" description="默认为新窗口打开">
                    <option selected="selected" value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
		        </param>
            </section>
        </group>
        <group title="【效果设置】">
            <section folded="false" title="触发方式">
                <param ptype="text" name="triggerType" label="触发方式" formType="range" description="触发方式 默认为鼠标滑过">
                    <option selected="selected" value="mouse">鼠标滑过</option>
                    <option value="click">鼠标单击</option>
			    </param>
            </section>
            <section folded="false" title="图片效果">
                <param ptype="text" name="pic_xiaoguo" label="请选择图片效果" formType="range" description="默认为水平滚动">
                    <option value="scrolly">垂直滚动</option>
                    <option value="scrollx">水平滚动</option>
                    <option selected="selected" value="fade">淡隐淡现</option>
                    <option value="none">无效果</option>
			    </param>
            </section>
            <section folded="false" title="动画效果">
                <param ptype="text" name="pic_flash" label="动画效果" formType="range" description="默认动感">
                    <option selected="selected" value="easeBothStrong">动感</option>
                    <option value="backOut">跑过返回</option>
                    <option value="easeOutStrong">快到慢-强</option>
                    <option value="easeInStrong">慢到快-强</option>
                    <option value="elasticIn">抖动后切换</option>
                    <option value="elasticOut">切换后抖动</option>
                    <option value="bounceOut">反弹</option>
                    <option value="bounceBoth">抖动反弹</option>
                    <option value="easeIn">慢到快-弱</option>
                    <option value="easeOut">快到慢-弱</option>
		        </param>
            </section>
        </group>
    </parameters>
</module>
