/**
 * 模块：tshop-pbsm-shop-item-recommend 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-pbsm-shop-item-recommend"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-pbsm-shop-item-recommend {
  background: none;
}
.tshop-pbsm-shop-item-recommend .skin-box-hd{
  height: 79px;
  border: none;
  background-color:transparent;
  padding: 2px 0;
}
.tshop-pbsm-shop-item-recommend .skin-box-hd .skin-box-act{
  top: 40px;
  right: 15px;
}
.tshop-pbsm-shop-item-recommend .skin-box-hd .skin-box-act .more{
  color: #FFF;
  text-decoration: none;
}
.tshop-pbsm-shop-item-recommend .skin-box-hd .skin-box-act .more:hover{
  color: #FFFA3E;
}
.tshop-pbsm-shop-item-recommend .skin-box-hd h3{
  text-align: center;
  margin-top: 10px;
}
.tshop-pbsm-shop-item-recommend .skin-box-hd h3 span{
  font-family: '微软雅黑';
  font-size: 35px;
  color: #AE0003;
  position: relative;
  top: 12px;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd{
  border: none;
  background-color: #FFF;
  padding: 10px 0 0;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item{
  margin-bottom: 10px;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .photo a:hover{
  border-color: #AE0003;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .photo a:hover img{
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  opacity: 0.8;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail a.item-name{
  color: #AE0003;
  padding-left: 6px;
  font-family: '微软雅黑';
  border: 1px solid #EEE;
  border-width: 0 1px 1px 0;
  margin: 0;
  text-decoration: none;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute{
  min-height: 38px;
  _height: 38px;
  cursor: pointer;
  background: url(assets/images/price260.gif) no-repeat right top;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .cprice-area{
  font-family: '微软雅黑';
  margin: 3px 5px 0px;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .cprice-area .symbol{
  color: #FFFA3E;
  font-size: 14px;
  font-weight: bold;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .cprice-area .c-price{
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .sprice-area{
  margin-bottom: 0;
  margin-top: 12px;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .sprice-area .symbol{
  color: #FFFA3E;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .sale-area{
  color: #FFF;
  font-family: '微软雅黑';
  margin-bottom: 0;
  margin-top: 12px;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .sale-area .sale-num{
  color: #FFFA3E;
  margin-right: 3px;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .sprice-area .s-price{
  color: #FFF;
}
/*only img*/
.grid-m0 .col-main .tshop-pbsm-shop-item-recommend .item7line1,
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1{
  margin-bottom: 0;
}
.grid-m0 .tshop-pbsm-shop-item-recommend .item7line1 .item .detail .attribute,
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute{
  background: none;
  min-height: 1px;
  _height: 1px;
}
.grid-m0 .tshop-pbsm-shop-item-recommend .item7line1 .item .detail .item-name,
.grid-m0 .tshop-pbsm-shop-item-recommend .item7line1 .item .detail .attribute .cprice-area,
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .item-name, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .item-name, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .item-name, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .item-name, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .item-name, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .item-name,
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .cprice-area, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .cprice-area, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .cprice-area, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .cprice-area, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .cprice-area, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .cprice-area{
  display: none;
}
.grid-m0 .tshop-pbsm-shop-item-recommend .item7line1 .item .detail .attribute .sprice-area .symbol,
.grid-m0 .tshop-pbsm-shop-item-recommend .item7line1 .item .detail .attribute .sprice-area .s-price,
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .symbol, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .symbol, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .symbol, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .symbol, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .symbol, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .symbol,
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .s-price, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .s-price, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .s-price, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .s-price, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .s-price, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .item4line1 .item .detail .attribute .sprice-area .s-price{
  color: #333;
}

/*950*/
.grid-m0 .tshop-pbsm-shop-item-recommend .skin-box-hd{
  background: url(../../assets/images/950hd.png) no-repeat;
}
.grid-m0 .col-main .tshop-pbsm-shop-item-recommend .item3line1,
.grid-m0 .col-main .tshop-pbsm-shop-item-recommend .item4line1{
  margin-bottom: 0;
}
.grid-m0 .tshop-pbsm-shop-item-recommend .item3line1 .item .detail .attribute{
  background: url(assets/images/price310.gif) no-repeat;
}
/*750*/
.grid-s5m0 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd{
  margin-top: -27px;
}
.grid-s5m0 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd{
  background: url(../../assets/images/750hd.png) no-repeat;
}
.grid-s5m0 .col-main .tshop-pbsm-shop-item-recommend .item3line1{
  margin-bottom: 0;
}

/*550*/
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .skin-box-hd{
  background: url(../../assets/images/550hd.png) no-repeat;
}
.grid-s5m0e5 .col-main .tshop-pbsm-shop-item-recommend .item3line1, 
.grid-m0s5e5 .col-main .tshop-pbsm-shop-item-recommend .item3line1, 
.grid-s5e5m0 .col-main .tshop-pbsm-shop-item-recommend .item3line1, 
.grid-e5s5m0 .col-main .tshop-pbsm-shop-item-recommend .item3line1, 
.grid-e5m0s5 .col-main .tshop-pbsm-shop-item-recommend .item3line1, 
.grid-m0e5s5 .col-main .tshop-pbsm-shop-item-recommend .item3line1{
  margin-bottom: 0;
}
/*550 item3line1 310*/

/*190*/
.grid-s5m0 .col-sub .tshop-pbsm-shop-item-recommend .skin-box-hd{
  border: none;
  height: 32px;
  background: #FFF url(../../assets/images/190hd.gif) no-repeat;
  text-align: left;
  padding: 0 10px 3px;
  margin: 0;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-item-recommend .skin-box-hd h3{
  text-align: left;
  display: inline-block;
  margin-top: 6px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-item-recommend .skin-box-hd h3 span{
  font-size: 14px;
  font-family: '微软雅黑';
  color: #FFF;
  top: 0;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-item-recommend .skin-box-hd .skin-box-act{
  top: 5px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-item-recommend .skin-box-bd .item{
  width: 190px;
  background-color: #FFF;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-item-recommend .skin-box-bd .last{
  padding-bottom: 10px;
}
.grid-s5m0 .col-sub  .tshop-pbsm-shop-item-recommend .skin-box-bd .item .photo a{
  display: inline-block;
  font-size: 12px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute{
  background: url(assets/images/price180.gif) no-repeat;
  width: 177px;
  margin: 0 auto;
  padding: 0 0 0 3px;
}