<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-KA_MAIN</id>
    <name>宝贝列表</name>
    <file>tshop-um-KA_MAIN.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">宝贝列表【自动获取宝贝】</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>750</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="宝贝设置">
            <section folded="false" title="选择宝贝">
                <param ptype="item" name="m_item" label="选择宝贝" formType="itemForm" description="请选择系统宝贝"></param>
                <param ptype="text" name="m_paixu" label="宝贝排序" formType="select" description="请选择系统宝贝输出的顺序 默认按人气升序">
                    <option selected="selected" value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序 </option>
                    <option value="price">以宝贝价格升序排序</option>
                    <option value="_price">以宝贝价格降序排序 </option>
                    <option value="newOn">以最新上架宝贝升序排序 </option>
                    <option value="_newOn">以最新上架宝贝降序排序 </option>
                    <option value="HotKeep">以热门搜藏升序排序 </option>
                    <option value="_HotKeep">以热门搜藏降序排序  </option>
		        </param>
            </section>
        </group>
        <group title="功能设置">
            <section folded="false" title="标题栏设置">
                <param ptype="text" name="title_open" label="标题栏" formType="range" description="默认为 显示">
                    <option selected="selected" value="yes">显示</option>
                    <option value="no">不显示</option>
		        </param>
                <param ptype="text" name="title" label="主标题" formType="text" description="请填写标题栏目名称">第一波宝贝</param>
                <param ptype="text" name="more" label="更多链接" formType="text" description="请填写更多按钮的链接">http://www.taobao.com/?s</param>
                <param ptype="text" name="title_wenzi" label="分类文字" formType="textarea" description="请填写标题栏目上的分类文字，多个以 | 分隔">标题一|标题二|标题三|标题四|标题五</param>
                <param ptype="text" name="title_href" label="分类链接" formType="textarea" description="请填写标题栏目上的分类文字的链接，多个以 | 分隔">http://www.taobao.com/?s|http://www.taobao.com/?d|http://www.taobao.com/?s|http://www.taobao.com/?s|http://www.taobao.com/?s</param>
            </section>
            <section folded="false" title="功能设置">
                <param ptype="text" name="target" label="打开方式" formType="range" description="默认为新窗口打开">
                    <option selected="selected" value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
		        </param>
            </section>
        </group>
    </parameters>
</module>
