/**
 * 模块：tshop-um-KA_JUHE 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-KA_JUHE"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-KA_JUHE {width:950px; height:904px; margin-bottom:5px; overflow:hidden}


.tshop-um-KA_JUHE .baobeititle{width:950px; height:40px; background:url(assets/images/srt.png) 0 0 no-repeat; overflow:hidden; margin-bottom:5px}

.tshop-um-KA_JUHE .baobeititle .title{width:200px; height:40px; padding-left:35px;color:#FFF; font-family:"微软雅黑"; line-height:40px; font-size:16px; float:left}

.tshop-um-KA_JUHE .baobeititle .title_wenzi{width:645px; height:40px; padding-right:40px; line-height:40px; float:right}

.tshop-um-KA_JUHE .baobeititle .title_wenzi a{font-size:12px;  float:right;color:#FFF; font-family:"微软雅黑"; text-decoration:none}
.tshop-um-KA_JUHE .baobeititle .more{width:30px; height:40px; float:right}

.tshop-um-KA_JUHE .baobeititle .more a{width:30px; height:40px; display:block}




 .tshop-um-KA_JUHE .juhe_p1{height:35px; background:#000; text-align:center; color:#FFF; line-height:35px; display:block}
 
 .tshop-um-KA_JUHE .juhe_p1{width:245px}
 
 
 
 
 .tshop-um-KA_JUHE .juhe_L{width:245px; height:904px; overflow:hidden; margin-right:5px; display:inline; float:left}
 .tshop-um-KA_JUHE .juhe_R{width:245px; height:904px; overflow:hidden; float:right}

.tshop-um-KA_JUHE .juhe_L dl,
.tshop-um-KA_JUHE .juhe_R dl{width:245px; height:283px; margin-bottom:5px; float:left}

.tshop-um-KA_JUHE .juhe_L dl dt,
.tshop-um-KA_JUHE .juhe_R dl dt{width:245px; height:213px; float:left}

.tshop-um-KA_JUHE .juhe_L dl dt a img,
.tshop-um-KA_JUHE .juhe_R dl dt a img{border:0 none; width:245px; height:213px;}

.tshop-um-KA_JUHE .juhe_L dl dd,
.tshop-um-KA_JUHE .juhe_R dl dd{width:245px; height:70px; background:#252525; float:left}

.tshop-um-KA_JUHE .juhe_L dl dd h1,
.tshop-um-KA_JUHE .juhe_R dl dd h1{width:235px; height:34px; padding-left:10px; margin-top:6px; line-height:17px; font-weight:normal; color:#6a6a6a; float:left}

.tshop-um-KA_JUHE .juhe_L dl dd .juhe_title,
.tshop-um-KA_JUHE .juhe_R dl dd .juhe_title{width:245px; height:29px; border-top:1px dotted #333; float:left}


.tshop-um-KA_JUHE .juhe_L dl dd span h3,
.tshop-um-KA_JUHE .juhe_R dl dd span h3{width:100px; overflow:hidden; white-space:nowrap;height:29px; line-height:29px; padding-right:5px; font-weight:normal; color:#6a6a6a; text-align:right; float:right}




.tshop-um-KA_JUHE .juhe_C{width:450px; height:904px; margin-bottom:5px; overflow:hidden; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A{width:450px; height:283px; margin-bottom:5px; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dt{width:450px; height:213px; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dt a img{width:450px; height:213px; border:0 none}



.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B{width:450px; height:501px; margin-bottom:5px; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dt{width:450px; height:501px; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dt a img{width:450px; height:501px; border:0 none}




.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dd,
.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dd{width:450px; height:70px; background:url(assets/images/hot.png) #252525 0 0 no-repeat; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dd h1,
.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dd h1{width:420px; height:34px; padding-left:30px; margin-top:6px; line-height:17px; font-weight:normal; color:#6a6a6a; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dd .juhe_title,
.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dd .juhe_title{width:450px; height:29px; border-top:1px dotted #333; float:left}

.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dd span h2,
.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dd span h2{ width:100px; white-space:nowrap; border:0 none; overflow:hidden; height:29px; line-height:29px; padding-left:35px; background:url(assets/images/like.png) 5px 5px no-repeat; font-weight:normal; color:#6a6a6a; float:left}



.tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dd span h4,
.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dd span h4{width:137px; height:29px; padding-left:20px; line-height:29px; padding-right:5px; background:url(assets/images/title.png) 0 3px no-repeat; font-weight:bold; color:#FFF; float:right}
 
 
 
 
 

 
 
 
 /*************SNS组件：喜欢**************/
 
 .tshop-um-KA_JUHE .juhe_C dl.juhe_C_A dd span h3,
.tshop-um-KA_JUHE .juhe_C dl.juhe_C_B dd span h3{height:29px; line-height:29px; border:0 none; width:100px; white-space:nowrap; overflow:hidden; padding-left:35px; font-weight:normal; color:#6a6a6a; text-align:right; float:left}

.tshop-um-KA_JUHE .juhe_L dl dd span h2,
.tshop-um-KA_JUHE .juhe_R dl dd span h2{height:29px; line-height:29px; padding-left:35px; border:0 none; background:url(assets/images/like.png) 5px 2px no-repeat; font-weight:normal; color:#6a6a6a; float:left}

 
 .tshop-um-KA_JUHE .juhe_L .dig-button .dig-icon,
  .tshop-um-KA_JUHE .juhe_C .dig-button .dig-icon,
   .tshop-um-KA_JUHE .juhe_R .dig-button .dig-icon{display:none}
 
  .tshop-um-KA_JUHE .juhe_L .dig-button,
  .tshop-um-KA_JUHE .juhe_L .dig-button-title,
    .tshop-um-KA_JUHE .juhe_C .dig-button,
  .tshop-um-KA_JUHE .juhe_C .dig-button-title,
    .tshop-um-KA_JUHE .juhe_R .dig-button,
  .tshop-um-KA_JUHE .juhe_R .dig-button-title{background:none; margin:0px; padding:0px;}
  
 
 .tshop-um-KA_JUHE .juhe_L .dig-count,
  .tshop-um-KA_JUHE .juhe_C .dig-count,
   .tshop-um-KA_JUHE .juhe_R .dig-count{margin:0px; padding:0px; font:12px/2.1 Arial; color:#FFF;}
 .tshop-um-KA_JUHE .juhe_L a{text-decoration:none}
 

/********************************************
 * 版  本：SA.1.0                           *
 * 时  间：2012.10.16 PM                    *
 * 作  者：Allen                            *
 * 旺  铺：http://xjcqc.taobao.com          *
 * 联系QQ：584643662（希望能与您为朋友！）  *
 * T E L: 18623601682                       *
 ********************************************/ 