<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-pubu950</id>
    <name>瀑布流效果</name>
    <file>tshop-um-pubu950.php</file>
    <thumbnail>../../assets/images/xxmk/ico22.gif</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">瀑布流效果，更独特新颖的展示方式</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="fense">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="black">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <param readonly="false" ptype="text" name="xyin" label="是否显示标题" formType="select" description="选择">
            <option value="block">显示</option>
            <option selected="selected" value="none">隐藏</option>
        </param>
        <param readonly="false" ptype="text" name="bt1" label="标题第一行" formType="textarea" description="输入第一行标题">
		瀑布布局falls layout
		</param>
        <param readonly="false" ptype="text" name="bt2" label="标题第二行" formType="textarea" description="输入第二行标题">
		CLICK MORE
		</param>
        <param readonly="false" ptype="item" name="idem0" label="选择第1组宝贝" formType="itemForm" description="选择第一组宝贝"></param>
        <param readonly="false" ptype="textarea" name="zdtu0" label="自定义图片" formType="textarea" description="输入自定义图片地址">
		assets/images/0_1.gif|assets/images/0_2.gif|assets/images/0_3.gif
		</param>
        <param readonly="false" ptype="item" name="idem1" label="选择第2组宝贝" formType="itemForm" description="选择第一组宝贝"></param>
        <param readonly="false" ptype="textarea" name="zdtu1" label="自定义图片" formType="textarea" description="输入自定义图片地址">assets/images/1_1.gif|assets/images/1_2.gif|assets/images/1_3.gif
		</param>
        <param readonly="false" ptype="item" name="idem2" label="选择第3组宝贝" formType="itemForm" description="选择第一组宝贝"></param>
        <param readonly="false" ptype="textarea" name="zdtu2" label="自定义图片" formType="textarea" description="输入自定义图片地址">
		assets/images/2_3.gif|assets/images/2_2.gif|assets/images/2_1.gif
		</param>
        <param readonly="false" ptype="item" name="idem3" label="选择第4组宝贝" formType="itemForm" description="选择第一组宝贝"></param>
        <param readonly="false" ptype="textarea" name="zdtu3" label="自定义图片" formType="textarea" description="输入自定义图片地址">
		assets/images/3_1.gif|assets/images/3_2.gif|assets/images/3_3.gif
		</param>
    </parameters>
</module>
