#content {
}

#hd {
}

.skin-box .skin-box-hd {
	border-style:solid;
}

.skin-box .skin-box-hd h3 span {
	color:red;
	font-weight:normal;
	font-size:9px;
	font-family:SimSun;
}

.skin-box .skin-box-bd {
	border-style:solid;
}
