<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-KA_KEFU</id>
    <name>旺旺客服</name>
    <file>tshop-um-KA_KEFU.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">旺旺客服【自定义旺旺】</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="售前设置">
            <section folded="false" title="旺旺设置">
                <param ptype="text" name="qian_title" label="售前标题" formType="text" description="请填写售前的标题">售前咨询</param>
                <param ptype="text" name="qian_id" label="客服ID" formType="textarea" description="请填写客服的旺旺ID,多个以 | 分隔">xjcqc|xjcqc|xjcqc</param>
                <param ptype="text" name="qian" label="客服昵称" formType="textarea" description="请填写客服的昵称，多个以 | 分隔">向建成|天天好|江燕柳|向天濝</param>
            </section>
        </group>
        <group title="售后设置">
            <section folded="false" title="旺旺设置">
                <param ptype="text" name="hou_title" label="售后标题" formType="text" description="请填写售后的标题">售前咨询</param>
                <param ptype="text" name="hou_id" label="客服ID" formType="textarea" description="请填写客服的旺旺ID,多个以 | 分隔">xjcqc|xjcqc|xjcqc|ww</param>
                <param ptype="text" name="hou" label="客服昵称" formType="textarea" description="请填写客服的昵称，多个以 | 分隔">向建成|天天好|江燕柳</param>
            </section>
        </group>
        <group title="功能设置">
            <section folded="false" title="功能设置">
                <param ptype="text" name="yingye" label="营业时间" formType="text" description="请填写营业时间">AM 9:00&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;PM:18:00</param>
            </section>
        </group>
    </parameters>
</module>
