<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-pbsm-shop-friend-link</id>
    <name>友情链接</name>
    <thumbnail>http://img02.taobaocdn.com/tps/i2/T1XFRLXn4mXXXXXXXX-50-50.png</thumbnail>
    <description>[提示：请为系统模块{友情链接}添加描述信息]</description>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
