/**
 * 模块：tshop-um-bannerArea 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-bannerArea"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */
.tshop-um-bannerArea {
  width: 950px;
  overflow-x: hidden;
}
.tshop-um-bannerArea ul {
  width: 960px;
  height: 112px;
}
.tshop-um-bannerArea ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.tshop-um-bannerArea ul li {
  float: left;
  width: 310px;
  margin-right: 9px;
  _margin-right: 4px;
}
.tshop-um-bannerArea ul li a {
  display: block;
  width: 310px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  text-decoration: none;
  border: 1px solid #FFF;
}
.tshop-um-bannerArea ul li a span {
  display: block;
  width: 310px;
  height: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  line-height: 25px;
  font-weight: bold;
  cursor: pointer;
}
.tshop-um-bannerArea ul li a em {
  color: #5c3001;
  z-index: 9;
  position: relative;
}
.tshop-um-bannerArea ul li a .alphabg {
  background-color: #FFF;
  opacity: 0.8;
  filter: progid:dximagetransform.microsoft.alpha(opacity=80);
  display: block;
  width: 310px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  _bottom: -1px;
  left: 0;
  z-index: 0;
}
