<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-KA_CLASS</id>
    <name>宝贝分类</name>
    <file>tshop-um-KA_CLASS.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">宝贝分类【可提取系统分类】</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>

        <group title="功能设置">
            <section folded="false" title="功能设置">
                <param ptype="text" name="class_title" label="分类标题" formType="text" description="请输入分类的标题名称"></param>
                <param ptype="text" name="target" label="打开方式" formType="range" description="默认为新窗口打开">
                    <option selected="selected" value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
		        </param>
            </section>
        </group>
    </parameters>
</module>
