/**
 * 模块：tshop-um-hotsell 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-hotsell"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */
.tshop-um-hotsell .hotsell_hd {
  background: url("../../assets/images/950hdbg.png") no-repeat;
  _background: url("../../assets/images/950hdbg.gif") no-repeat;
  height: 40px;
  position: relative;
  line-height: 35px;
  padding: 0 43px;
  color: #FFF;
}
.tshop-um-hotsell .hotsell_hd h3 {
  font-size: 14px;
  font-weight: normal;
  font-family: "寰杞榛";
}
.tshop-um-hotsell .hotsell_hd a {
  color: #FFF;
}
.tshop-um-hotsell .hotsell_hd .link_list {
  position: absolute;
  right: 40px;
  top: 12px;
  line-height: 14px;
  height: 14px;
}
.tshop-um-hotsell .hotsell_hd .link_list a {
  margin-left: 8px;
  padding-left: 8px;
  display: inline-block;
  border-left: 1px solid #FFF;
}
.tshop-um-hotsell .hotsell_hd .link_list .first {
  border: none;
}
.tshop-um-hotsell .hotsell_bd {
  margin: 20px 0;
  background: url(assets/images/bg.jpg) no-repeat;
}
.tshop-um-hotsell .hotsell_bd .mall-slide {
  position: relative;
  padding-bottom: 20px;
  height: 400px;
}
.tshop-um-hotsell .hotsell_bd .mall-content {
  width: 950px;
  height: 402px;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
.tshop-um-hotsell .hotsell_bd .mall-content li {
  width: 948px;
  float: left;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .pic {
  border: 1px solid #E5E5E5;
  width: 222px;
  width: 400px;
  float: right;
  border-color: #6B6D6A;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .pic a {
  width: 220px;
  height: 220px;
  display: block;
  border: 1px solid #FFF;
  background-position: center center;
  background-repeat: no-repeat;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .pic a {
  width: 400px;
  height: 400px;
  border: none;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail {
  width: 500px;
  float: left;
  margin-left: 20px;
  color: #FFF;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail a {
  color: #FFF;
  text-decoration: none;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail h3 {
  font-size: 14px;
  font-weight: normal;
  height: 36px;
  overflow-y: hidden;
  margin: 10px 0 0 30px;
  font-family: "微软雅黑";
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .price {
  font-size: 50px;
  font-weight: bold;
  font-family: "微软雅黑";
  position: relative;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .price i {
  background: url("../../assets/images/sprites.png") no-repeat;
  display: inline-block;
  width: 76px;
  height: 22px;
  background-position: -135px 0;
  margin: 10px 5px 0 0;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .price a {
  display: block;
  position: absolute;
  top: -2px;
  right: 82px;
  width: 190px;
  height: 77px;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info {
  margin: 15px 0 0 20px;
  width: 430px;
  height: 130px;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .salecon li {
  float: left;
  border-right: 1px dashed #55BBD4;
  width: 135px;
  text-align: center;
  font-size: 14px;
  font-family: "微软雅黑";
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .salecon li.last {
  border: none;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .salecon li em {
  display: block;
  padding-bottom: 5px;
  color: #AEFFFF;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .salecon li del,
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .salecon li span {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .salecon li del {
  color: #58B5D6;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .tip {
  clear: both;
  font-family: "微软雅黑";
  text-align: center;
  color: #94F1FF;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .tip span {
  display: block;
  font-size: 16px;
  padding: 5px 0 10px;
}
.tshop-um-hotsell .hotsell_bd .mall-content li .detail .info .tip span em {
  padding: 0 5px;
  font-weight: bold;
  color: #FFF;
}
.tshop-um-hotsell .hotsell_bd .ks-switchable-nav {
  position: absolute;
  bottom: 20px;
  left: -1px;
  z-index: 5;
}
.tshop-um-hotsell .hotsell_bd .ks-switchable-nav li {
  border: 1px solid #E5E5E5;
  width: 222px;
  float: left;
  margin: 0 8px 0 3px;
  color: red;
  width: 116px;
  border-color: #6B6D6A;
}
.tshop-um-hotsell .hotsell_bd .ks-switchable-nav li a {
  width: 220px;
  height: 220px;
  display: block;
  border: 1px solid #FFF;
  background-position: center center;
  background-repeat: no-repeat;
}
.tshop-um-hotsell .hotsell_bd .ks-switchable-nav li.ks-active {
  border-color: #FFF;
}
.tshop-um-hotsell .hotsell_bd .ks-switchable-nav li a {
  width: 116px;
  height: 116px;
  border: none;
}
