/**
 * 模块：tshop-pbsm-shop-srch-inshop 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-pbsm-shop-srch-inshop"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-pbsm-shop-srch-inshop {}



/*950|750*/
.grid-m0 .tshop-pbsm-shop-srch-inshop,
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop{
  margin-top: 640px;
  height: 147px;
  background: url(assets/images/bgm0.gif) no-repeat;
  padding-left: 45px;
  _padding-left: 25px;
  padding-top: 10px;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-hd h3 span,
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-hd h3 span{
  font-weight: bold;
  font-size: 14px;
}
.tshop-pbsm-shop-srch-inshop .skin-box-bd li{
  _margin-right: 5px;
}
.grid-m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-bd{
  width: 780px;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-bd .price label .key,
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-bd .price label .key{
  color: #FFF;
  font-family: '微软雅黑';
  margin-right: 10px;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-bd .btn,
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-bd .btn{
  background: url(assets/images/btn.gif) no-repeat;
  font-family: '微软雅黑';
  font-size: 14px;
  font-weight: bold;
  width: 56px;
  height: 26px;
  color: #714500;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a,
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a{
  color: #FFF;
  text-decoration: none;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a:hover,
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a:hover{
  color: #FFFA3E;
}
/*750*/
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop{
  height: 67px;
  margin: 0;
}
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-bd{
  width: 585px;
}
.grid-s5m0 .col-main .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys{
  width: 180px;
}
/*190*/
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop{
  background: #FFF url(../../assets/images/190hd.gif) no-repeat;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-hd{
  height: 35px;
  padding-top: 0;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-hd h3{
  display: inline-block;
  margin-top: 2px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-hd h3 span{
  font-size: 14px;
  font-family: '微软雅黑';
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd{
  border:none;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .keyword input,
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .price input{
  background-color: #C30006;
  color: #FFF;
  border: none;
  height: 20px;
  line-height: 20px;
  margin-top: 3px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd ul{
  border-top: 1px dotted #CCC;
  padding-top: 5px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .btn{
  background: url(assets/images/btn190.gif) no-repeat;
  width: 45px;
  color: #FFF;
  font-family: '微软雅黑';
  border:none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys{
  
}

.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a{
  color: #C30006;
}