/**
 * 模块：tshop-pbsm-shop-srch-inshop 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-pbsm-shop-srch-inshop"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-pbsm-shop-srch-inshop {}



/*950*/
.grid-m0 .tshop-pbsm-shop-srch-inshop{
  margin-top: 640px;
  height: 147px;
  background: url(assets/images/bgm0.gif) no-repeat;
  padding-left: 50px;
  padding-top: 10px;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-hd h3 span{
  font-weight: bold;
  font-size: 14px;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-bd .price label .key{
  color: #FFF;
  font-family: '微软雅黑';
  margin-right: 10px;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-bd .btn{
  background: url(assets/images/btn.gif) no-repeat;
  text-indent: -2000px;
  width: 56px;
  height: 26px;
}
.grid-m0 .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a{
  color: #FFF;
}

/*190*/
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop{
  background: #FFF url(../../assets/images/190hd.gif) no-repeat;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-hd{
  height: 35px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-hd h3 span{
  font-size: 14px;
  font-family: '微软雅黑';
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .keyword input,
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .price input{
  background-color: #C30006;
  color: #FFF;
  border: none;
  height: 20px;
  line-height: 20px;
  margin-top: 3px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd ul{
  border-bottom: 1px dotted #CCC;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .btn{
  background-color: #C30006;
  color: #FFF;
  font-family: '微软雅黑';
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #000;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd li{
  margin-bottom:5px;
}

.grid-s5m0 .col-sub .tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a{
  color: #C30006;
}