<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-head</id>
    <name>店招</name>
    <file>tshop-um-head.php</file>
    <thumbnail>/assets/images/default-thumbnail.png</thumbnail>
    <description>店铺招牌</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="店招设置">
            <section folded="false" title="图片设置">
                <param ptype="text" name="logo_img" label="店招图片" formType="text" description="填写店铺招牌图片路径：及店铺的名称 尺寸：500*100">assets/images/logo.jpg</param>
            </section>
        </group>
        <group title="文字设置">
            <section folded="false" title="左边文字">
                <param ptype="text" name="text_left" label="文字" formType="text" description="请输入左边要显示的文字必须以'|'分隔">文三字一|方三字二|文字三三</param>
                <param ptype="text" name="text_left_link" label="链接" formType="textarea" description="请输入左边要显示文字的链接必须以'|'分隔">http://www.taobao.com/?1|http://www.taobao.com/?2|http://www.taobao.com/?3</param>
            </section>
            <section folded="false" title="右边文字">
                <param ptype="text" name="text_right" label="文字" formType="text" description="请输入右边要显示的文字必须以'|'分隔">文三字四|方三字五|文三字六</param>
                <param ptype="text" name="text_right_link" label="链接" formType="textarea" description="请输入右边要显示文字的链接必须以'|'分隔">http://www.taobao.com/?5|http://www.taobao.com/?4|http://www.taobao.com/?6</param>
            </section>
            <section folded="true" title="文字分隔符">
                <param ptype="text" name="text_icon" label="符号" formType="range" description="默认为|">
                    <option selected="selected" value="|">|</option>
                    <option
                        value="●">●</option>
                    <option value="◆">◆</option>
                    <option value="、">、</option>
                </param>
            </section>
            <section folded="true" title="格式设置">
                <param ptype="text" name="text_color" label="文字颜色" formType="text" description="默认为#00B4FF">#86f6fa</param>
                <param ptype="text" name="text_weight" label="文字加粗" formType="range" description="默认为常规">
                    <option selected="selected"
                        value="normal">常规</option>
                    <option value="bold">粗体</option>
                </param>
                <param ptype="text" name="text_size" label="文字大小" formType="range" description="默认为12px">
                    <option selected="selected"
                        value="12px">12px</option>
                    <option value="13px">13px</option>
                    <option value="14px">14px</option>
                    <option
                        value="15px">15px</option>
                    <option value="16px">16px</option>
                </param>
                <param ptype="text" name="text_underline" label="链接下划线" formType="range" description="默认为12px">
                    <option selected="selected"
                        value="none">无</option>
                    <option value="underline">显示</option>
                </param>
                <param ptype="text" name="text_target" label="打开方式" formType="select" description="默认为新窗口打开">
                    <option selected="selected"
                        value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option
                        value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
                </param>
            </section>
        </group>
    </parameters>
</module>
