/**
 * 模块：tshop-pbsm-shop-main-slide 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-pbsm-shop-main-slide"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-pbsm-shop-main-slide {}

.tshop-pbsm-shop-main-slide .skin-box-hd{
  height: 75px;
  background-repeat: no-repeat;
}
.tshop-pbsm-shop-main-slide .skin-box-hd h3{
  text-align: center;
  margin-top: 8px;
}
.tshop-pbsm-shop-main-slide .skin-box-hd h3 span{
  font-family: '微软雅黑';
  font-size: 35px;
  color: #AE0003;
  position: relative;
  top: 10px;
}
.tshop-pbsm-shop-main-slide .skin-box-bd{
  border: none;
}
.tshop-pbsm-shop-main-slide .slide-box .slide-triggers li, 
.tshop-pbsm-shop-main-slide .slide-box .slide-triggers .selected{
  background-image: none;
  background-color: #FFF;
  border: 1px solid #990002;
  padding: 0 5px;
  color: #990002;
}
.tshop-pbsm-shop-main-slide .slide-box .slide-triggers .selected{
  background-color: #990002;
  color: #FFF;
}

/*950*/
.grid-m0 .tshop-pbsm-shop-main-slide .skin-box-hd{
  background-image: url(../../assets/images/950hd.png);
}
/*750*/
.grid-s5m0 .col-main .tshop-pbsm-shop-main-slide .skin-box-hd{
  background-image: url(../../assets/images/750hd.png);
}
/*190*/
.grid-s5m0 .col-sub .tshop-pbsm-shop-main-slide .skin-box-hd{
  border: none;
  background: #FFF url(../../assets/images/190hd.gif) no-repeat;
  height: 32px;
  padding-top: 0;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-main-slide .skin-box-hd h3{
  text-align: left;
  display: inline-block;
  margin-top: 6px;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-main-slide .skin-box-hd h3 span{
  font-size: 14px;
  font-family: '微软雅黑';
  color: #FFF;
  position: static;
  top: 0;
}
.grid-s5m0 .col-sub .tshop-pbsm-shop-main-slide .slide-box .slide-content li a img{
  width: 190px;
}