#content {
}

#hd {
}

.skin-box .skin-box-hd {
	border-style:solid;
}

.skin-box .skin-box-hd h3 span {
	font-weight:normal;
	font-size:10px;
	font-family:Microsoft YaHei;
}

.skin-box .skin-box-bd {
	border-style:solid;
}
