/**
 * 模块：tshop-um-KA_HAIBAO 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-KA_HAIBAO"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-KA_HAIBAO {width:950px; height:400px; overflow:hidden; margin-top:21px; position:relative}

.tshop-um-KA_HAIBAO .haibao{overflow:hidden;}

.tshop-um-KA_HAIBAO .haibao ul.stage li{overflow: hidden}

.tshop-um-KA_HAIBAO .haibao ul.stick{position:absolute; z-index:90; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);opacity:0.6;}
.tshop-um-KA_HAIBAO .haibao ul.stick li{background-color:#161616;color:#fff;text-align:center;cursor: pointer; float:left}
.tshop-um-KA_HAIBAO .haibao ul.stick li.selected{background-color:#000;font-weight:bold; color:#00B4FF}

/********************************************
 * 版  本：SA.1.0                           *
 * 时  间：2012.10.16 PM                    *
 * 作  者：Allen                            *
 * 旺  铺：http://xjcqc.taobao.com          *
 * 联系QQ：584643662（希望能与您为朋友！）  *
 * T E L: 18623601682                       *
 ********************************************/ 