/**
 * 模块：tshop-um-mainrecommend 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-mainrecommend"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */
.tshop-um-mainrecommend .mainrecommend_hd {
  background: url("../../assets/images/950hdbg.png") no-repeat;
  _background: url("../../assets/images/950hdbg.gif") no-repeat;
  height: 40px;
  position: relative;
  line-height: 35px;
  padding: 0 43px;
  color: #FFF;
}
.tshop-um-mainrecommend .mainrecommend_hd h3 {
  font-size: 14px;
  font-weight: normal;
  font-family: "寰杞榛";
}
.tshop-um-mainrecommend .mainrecommend_hd a {
  color: #FFF;
}
.tshop-um-mainrecommend .mainrecommend_hd .link_list {
  position: absolute;
  right: 40px;
  top: 12px;
  line-height: 14px;
  height: 14px;
}
.tshop-um-mainrecommend .mainrecommend_hd .link_list a {
  margin-left: 8px;
  padding-left: 8px;
  display: inline-block;
  border-left: 1px solid #FFF;
}
.tshop-um-mainrecommend .mainrecommend_hd .link_list .first {
  border: none;
}
.tshop-um-mainrecommend .mainrecommend_bd {
  margin-top: 10px;
}
.tshop-um-mainrecommend .mainrecommend_bd:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic {
  width: 290px;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic.left {
  float: left;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic.right {
  float: right;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic {
  border: 1px solid #E5E5E5;
  width: 222px;
  width: 290px;
  border: none;
  background-color: #252525;
  font-family: '微软雅黑';
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic a {
  width: 220px;
  height: 220px;
  display: block;
  border: 1px solid #FFF;
  background-position: center center;
  background-repeat: no-repeat;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic a {
  width: 290px;
  height: 490px;
  border: none;
  position: relative;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic:hover .mask {
  display: block;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic .mask {
  display: none;
  background-color: #000;
  width: 210px;
  height: 23px;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  filter: progid:dximagetransform.microsoft.alpha(opacity=60);
  left: 0;
  bottom: 0;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic:hover .price {
  display: block;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic .price {
  display: none;
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: 3;
  color: #B5BAC0;
  width: 210px;
  font-size: 14px;
  text-align: center;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic:hover .title,
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic:hover h3 {
  display: block;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic .title,
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic h3 {
  width: 200px;
  height: 23px;
  overflow: hidden;
  color: #B5BAC0;
  font-size: 14px;
  position: absolute;
  text-align: center;
  left: 5px;
  bottom: 0;
  z-index: 3;
  display: none;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic h3 {
  width: 280px;
  height: 25px;
  left: 5px;
  bottom: 23px;
  color: #FFF;
  font-size: 14px;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic .mask {
  width: 290px;
  height: 55px;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic .price {
  color: #A9AB2E;
  font-weight: bold;
  font-size: 12px;
  width: 290px;
}
.tshop-um-mainrecommend .mainrecommend_bd .toppic .pic .price em {
  font-size: 18px;
}
.tshop-um-mainrecommend .mainrecommend_bd .items {
  width: 650px;
  float: right;
}
.tshop-um-mainrecommend .mainrecommend_bd .items.right li {
  margin: 0 6px 20px 0;
}
.tshop-um-mainrecommend .mainrecommend_bd .items li {
  float: left;
  margin: 0 0 20px 6px;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .row1 {
  margin-bottom: 0;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .pic {
  border: 1px solid #E5E5E5;
  width: 222px;
  border: none;
  width: 210px;
  border: none;
  background-color: #FFF;
  border-bottom: 1px solid #959394;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a {
  width: 220px;
  height: 220px;
  display: block;
  border: 1px solid #FFF;
  background-position: center center;
  background-repeat: no-repeat;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a {
  width: 210px;
  height: 210px;
  border: none;
  position: relative;
  text-decoration: none;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a:hover .mask {
  display: block;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a .mask {
  display: none;
  background-color: #000;
  width: 210px;
  height: 23px;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  filter: progid:dximagetransform.microsoft.alpha(opacity=60);
  left: 0;
  bottom: 0;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a:hover .title,
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a:hover h3 {
  display: block;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a .title,
.tshop-um-mainrecommend .mainrecommend_bd .items .pic a h3 {
  width: 200px;
  height: 23px;
  overflow: hidden;
  color: #B5BAC0;
  font-size: 14px;
  position: absolute;
  text-align: center;
  left: 5px;
  bottom: 0;
  z-index: 3;
  display: none;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .price {
  background: url(assets/images/price.png) no-repeat;
  width: 210px;
  height: 24px;
  color: #FFF;
  position: relative;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .price span {
  width: 143px;
  height: 24px;
  display: block;
  text-align: center;
  overflow: hidden;
  line-height: 24px;
}
.tshop-um-mainrecommend .mainrecommend_bd .items .price a {
  display: block;
  width: 67px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
