<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-bannerArea</id>
    <name>小招牌</name>
    <file>tshop-um-bannerArea.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">是的随碟附送的</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190,550,750,950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="sky">
            <css>assets/stylesheets/sky.css</css>
        </theme>
    </themes>
     <parameters>
        <group title="基本设置">
            <section folded="false" title="设置">
                <param ptype="text" name="datafrom" label="数据来源" formType="select" description="数据来源">
                    <option value="1">选取宝贝</option>
                    <option value="2" selected="selected">自定义</option>
                </param>
                <param  ptype="item" name="itemselecter" label="宝贝选择器(限3个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝"/>
            </section>
            <section folded="true" title="标题右侧">
                <param ptype="textarea" name="bannerpic" label="图片地址" formType="textarea" description=" 设置图片地址,用竖杆[|]分割 [说明:限3个]"></param>
                <param ptype="textarea" name="bannertitle" label="图片标题" formType="textarea" description=" 设置图片标题[四字最佳],用竖杆[|]分割 [说明:限3个]"></param>
                <param ptype="textarea" name="bannerlink" label="图片链接" formType="textarea" description=" 设置图片链接,用竖杆[|]分割 [说明:限3个]"></param>
            </section>
        </group>
    </parameters>
</module>