<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-checkbox</id>
    <name>测试复选框</name>
    <file>tshop-um-checkbox.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">用户测试checkbox功能!</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190,550,750,950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="checkbox测试组">
            <section folded="true" title="checkbox测试部分">
                <param ptype="text" name="checkbox" label="多选框" formType="checkbox" description="多选框描述信息">
                    <option selected="selected" value="1">好</option>
                    <option value="2">不好</option>
				</param>
            </section>
        </group>
    </parameters>
</module>
