<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-KA_DIANZHAO</id>
    <name>头部店招</name>
    <file>tshop-um-KA_DIANZHAO.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">头部店招【可以设置店铺的招牌及文字链接】</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="【文字编辑】">
            <section folded="false" title="左边文字">
                <param ptype="text" name="dianzhao_left" label="文字" formType="textarea" description="请输入左边要显示的文字必须以'|'分隔">文三字一|方三字二|文字三三</param>
                <param ptype="text" name="dianzhao_left_href" label="链接" formType="textarea" description="请输入左边要显示文字的链接必须以'|'分隔">http://www.taobao.com/?1|http://www.taobao.com/?2|http://www.taobao.com/?3</param>
            </section>
            <section folded="false" title="右边文字">
                <param ptype="text" name="dianzhao_right" label="文字" formType="textarea" description="请输入右边要显示的文字必须以'|'分隔">文三字四|方三字五|文三字六</param>
                <param ptype="text" name="dianzhao_right_href" label="链接" formType="textarea" description="请输入右边要显示文字的链接必须以'|'分隔">http://www.taobao.com/?5|http://www.taobao.com/?4|http://www.taobao.com/?6</param>
            </section>
        </group>
        <group title="【店招设置】">
            <section folded="false" title="图片设置">
                <param ptype="text" name="dianzhao_center" label="店招图片" formType="text" description="填写店铺招牌图片路径：及店铺的名称 尺寸：510*100">assets/images/dianzhao.png</param>
                <param ptype="text" name="alignment" label="对齐方式" formType="range" description="默认为左对齐">
                    <option selected="selected" value="0 0">左对齐</option>
                    <option value="center 0">居中</option>
                    <option value="right 0">右对齐</option>
			    </param>
                <param ptype="text" name="repeat" label="填充设置" formType="range" description="默认为不填充">
                    <option selected="selected" value="no-repeat">不填充</option>
                    <option value="">平铺</option>
                    <option value="repeat-x">横向平铺</option>
                    <option value="repeat-y">纵向平铺</option>
			    </param>
            </section>
        </group>
        <group title="【其实设置】">
            <section folded="false" title="文字分隔符">
                <param ptype="text" name="str" label="符号" formType="range" description="默认为|">
                    <option value="|">|</option>
                    <option selected="selected" value="●">●</option>
                    <option value="◆">◆</option>
                    <option value="、">、</option>
			    </param>
            </section>
            <section folded="false" title="文字设置">
                <param ptype="text" name="str_color" label="文字颜色" formType="text" description="默认为#00B4FF">#86f6fa</param>
                <param ptype="text" name="str_weight" label="文字加粗" formType="range" description="默认为常规">
                    <option selected="selected" value="normal">常规</option>
                    <option value="bold">粗体</option>
			    </param>
                <param ptype="text" name="str_size" label="文字大小" formType="range" description="默认为12px">
                    <option selected="selected" value="12px">12px</option>
                    <option value="13px">13px</option>
                    <option value="14px">14px</option>
                    <option value="15px">15px</option>
                    <option value="16px">16px</option>
			    </param>
                <param ptype="text" name="str_x" label="链接下划线" formType="range" description="默认为12px">
                    <option selected="selected" value="none">关</option>
                    <option value="underline">开</option>
			    </param>
                <param ptype="text" name="target" label="打开方式" formType="select" description="默认为新窗口打开">
                    <option selected="selected" value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
		        </param>
            </section>
        </group>
    </parameters>
</module>
