//global vars
@global-url: "../../assets/images";
@global-sprite: "@{global-url}/global/global.png";
@skin-url: "@{global-url}/skin";
//default-默认
@default-color: #23D9FF;
@default-skin-bg: "@{skin-url}/default.png";
@default-collect-bg: "@{skin-url}/default_collectbg.jpg";

//color
.defaultColor () {
  color: @default-color;
}