<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-hotsell</id>
    <name>促销专区</name>
    <file>tshop-um-hotsell.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"></description>
    <requiredCache>true</requiredCache>
    <supportedWidth>750,950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="sky">
            <css>assets/stylesheets/sky.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="模块">
            <section folded="false" title="基本设置">
                <param ptype="text" name="moduletitle" label="标题" formType="text" description="留空则不显示">放大镜模块</param>
                <param label="右侧文字" formType="text" description="头部右侧的说明文字" ptype="text" name="moduleintro">说明：收藏有礼哦，收藏本店凭截图可获店铺优惠券一张哦！</param>
            </section>
        </group>
        <group title="宝贝">
            <section folded="false" title="数据">
                <param ptype="text" name="resources" label="数据来源" formType="select" description="选择数据的来源">
                    <option selected="selected" value="1">按所选类目自动获取宝贝</option>
                    <option value="2">按宝贝选择器手动选择宝贝</option>
                    <option value="3">按关键字自动获取宝贝</option>
                </param>
                 <param ptype="textarea" name="tip" label="角标文字" formType="textarea" description="(限2个字)宝贝详情上的角标文字，用竖杆[|]分割">5折|3折</param>
                <param ptype="category" name="cates" label="类目选择器(限1个)" formType="categoryForm" description="通过类目选择器自动获取宝贝"></param>
                <param ptype="item" name="item" label="宝贝选择器(限9个)" formType="itemForm" description="通过宝贝选择器手动选取宝贝，限9个">1,2,3,4,5</param>
                <param ptype="text" name="keyword" label="关 键 字" formType="text" description="通过关键字自动获取宝贝（当数据来源选择为按关键字自动获取宝贝时输入有效）">裙</param>
                <param ptype="text" name="order" label="宝贝排序" formType="select" description="选择宝贝的排列顺序">
                    <option selected="selected" value="price">按宝贝价格的升序排列</option>
                    <option value="_price">按宝贝价格的降序排列</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门搜藏升序排序</option>
                    <option value="_HotKeep">以热门搜藏降序排序</option>
                </param>
            </section>
        </group>
    </parameters>
</module>
