/**
 * 模块：tshop-um-shopnotice 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-shopnotice"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */
.tshop-um-shopnotice .shopnotice_hd {
  color: #6D6D6D;
}
.tshop-um-shopnotice .shopnotice_hd h3 {
  background-color: #5c3001;
  text-align: center;
  color: #FFF;
  width: 88px;
  height: 46px;
  padding: 10px 0;
  font-size: 14px;
  float: left;
}
.tshop-um-shopnotice .shopnotice_hd h3 span {
  display: block;
  line-height: 23px;
}
.tshop-um-shopnotice .shopnotice_hd .notice_content {
  width: 602px;
  height: 44px;
  line-height: 20px;
  float: left;
  border-top: 1px solid #D5D5D5;
  padding: 10px;
}
.tshop-um-shopnotice .shopnotice_hd .notice_tab {
  border: 1px solid #D5D5D5;
  border-bottom: none;
  width: 238px;
  float: right;
}
.tshop-um-shopnotice .shopnotice_hd,
.tshop-um-shopnotice .shopnotice_hd a {
  color: #6D6D6D;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-nav li {
  float: left;
  width: 78px;
  height: 24px;
  border: solid #D5D5D5;
  border-width: 0 1px 1px 0;
  text-align: center;
  cursor: pointer;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-nav li.last {
  border-right: none;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-nav li.ks-active {
  border-bottom-color: #FFF;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-nav li a {
  text-decoration: none;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-content {
  clear: both;
  height: 38px;
  padding: 2px 8px 0;
  line-height: 16px;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-content .add_btn {
  padding: 1px 5px;
  display: inline-block;
  float: right;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-content .add_btn a {
  color: #FFF;
  text-decoration: none;
}
.tshop-um-shopnotice .shopnotice_hd .ks-switchable-content .add_btn a em {
  margin-right: 3px;
}
.tshop-um-shopnotice .shopnotice_bd {
  clear: both;
  height: 40px;
  margin: 0 2px;
  border-top: 1px solid #ECECEC;
  color: #1C1C1C;
  position: relative;
  *margin-top: -20px;
  border: 1px solid #D5D5D5;
  margin: 0;
}
.tshop-um-shopnotice .shopnotice_bd li {
  float: left;
  margin: 8px 0 0 20px;
  _margin-left: 10px;
}
.tshop-um-shopnotice .shopnotice_bd li span {
  margin-right: 13px;
}
.tshop-um-shopnotice .shopnotice_bd li span a {
  position: relative;
  top: 2px;
}
.tshop-um-shopnotice .shopnotice_bd li span em {
  cursor: pointer;
}
.tshop-um-shopnotice .shopnotice_bd .title {
  font-weight: normal;
  color: #1C1C1C;
  margin: 0;
  font-weight: bold;
}
.tshop-um-shopnotice .shopnotice_bd .worktime {
  float: right;
  position: relative;
  top: 2px;
  right: 20px;
}
.tshop-um-shopnotice .shopnotice_bd .title,
.tshop-um-shopnotice .shopnotice_bd li,
.tshop-um-shopnotice .shopnotice_bd li span em {
  color: #6D6D6D;
}
