<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-KA_ANNIU</id>
    <name>按钮设置</name>
    <file>tshop-um-KA_ANNIU.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">按钮设置【可以设置大按钮的图片，链接，让顾客更好的了解您，更容易找到你】</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="【按钮设置】">
            <section folded="false" title="第一个按钮">
                <param ptype="text" name="anniu_1" label="普通状态下图片路径" formType="text" description="请设置普通状态下显示的图片">assets/images/shoucang.png</param>
                <param ptype="text" name="anniu_1_m" label="鼠标经过的图片路径" formType="text" description="请设置鼠标经过时显示的图片">assets/images/shoucang1.png</param>
                <param ptype="text" name="anniu_1_href" label="图片链接" formType="text" description="请设置图片的链接">#</param>
                <param ptype="text" name="anniu_1_m_target" label="打开方式" formType="range" description="默认为新窗口打开">
                    <option selected="selected" value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
		        </param>
            </section>
            <section folded="false" title="第二个按钮">
                <param ptype="text" name="anniu_2" label="普通状态下图片路径" formType="text" description="请设置普通状态下显示的图片">assets/images/cuxiao.png</param>
                <param ptype="text" name="anniu_2_m" label="鼠标经过的图片路径" formType="text" description="请设置鼠标经过时显示的图片">assets/images/cuxiao1.png</param>
                <param ptype="text" name="anniu_2_href" label="图片链接" formType="text" description="请设置图片的链接">#</param>
                <param ptype="text" name="anniu_2_m_target" label="打开方式" formType="range" description="默认为新窗口打开">
                    <option selected="selected" value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
		        </param>
            </section>
            <section folded="false" title="第三个按钮">
                <param ptype="text" name="anniu_3" label="普通状态下图片路径" formType="text" description="请设置普通状态下显示的图片">assets/images/xinpin.png</param>
                <param ptype="text" name="anniu_3_m" label="鼠标经过的图片路径" formType="text" description="请设置鼠标经过时显示的图片">assets/images/xinpin1.png</param>
                <param ptype="text" name="anniu_3_href" label="图片链接" formType="text" description="请设置图片的链接">#</param>
                <param ptype="text" name="anniu_3_m_target" label="打开方式" formType="range" description="默认为新窗口打开">
                    <option selected="selected" value="_blank">在新窗口打开</option>
                    <option value="_parent">在父窗口打开</option>
                    <option value="_self">在当前窗口打开</option>
                    <option value="_top">在浏览器窗口打开</option>
		        </param>
            </section>
        </group>
    </parameters>
</module>
