/**
 * 模块：tshop-um-KA_PAIHANG 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-KA_PAIHANG"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-KA_PAIHANG{
    background: #111;
    color: #777777;
    font-family: "微软雅黑";
    font-size: 12px;
    line-height: 1.5;
    min-height: 30px;
}

.tshop-um-KA_PAIHANG .a_hd{width:190px; height:40px; line-height:37px; text-indent:35px; color:#FFF; font-size:14px; font-weight:bold; overflow:hidden; background:url(assets/images/title.png) 0 0 no-repeat}


.tshop-um-KA_PAIHANG .a_baobei{width:190px; height:104px; margin-bottom:8px; background:url(assets/images/bg.png) 0 0 no-repeat}

.tshop-um-KA_PAIHANG .a_baobei .a_img{width:80px; height:80px; margin:12px 0px 0px 8px; float:left; display:block}

.tshop-um-KA_PAIHANG .a_baobei .a_img:hover{opacity: 0.8}

.tshop-um-KA_PAIHANG .a_baobei .a_info .a_title:hover{color:#F30}

.tshop-um-KA_PAIHANG .a_baobei .a_info{width:92px; height:80px; margin-top:12px; float:right}

.tshop-um-KA_PAIHANG .a_baobei .a_info .a_title{width:92px; height:29px; line-height:14px; display:block; overflow:hidden; margin-bottom:5px; text-decoration:none; color:#999; float:right}

.tshop-um-KA_PAIHANG .a_baobei .a_info .a_price{width:92px; height:19px; margin-bottom:9px; line-height:19px; overflow:hidden}

.tshop-um-KA_PAIHANG .a_baobei .a_info .a_sold{width:92px;}

.tshop-um-KA_PAIHANG .a_baobei .a_info .a_price b,
.tshop-um-KA_PAIHANG .a_baobei .a_info .a_sold b{color:#FFF; margin:0 3px}


.tshop-um-KA_PAIHANG .skin-box-hd{padding:0px;}
.tshop-um-KA_PAIHANG .skin-box-bd:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
	overflow:hidden;
}

.tshop-um-KA_PAIHANG .clearfix:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
	overflow:hidden;
}

 
/********************************************
 * 版  本：SA.1.0                           *
 * 时  间：2012.10.16 PM                    *
 * 作  者：Allen                            *
 * 旺  铺：http://xjcqc.taobao.com          *
 * 联系QQ：584643662（希望能与您为朋友！）  *
 * T E L: 18623601682                       *
 ********************************************/ 