<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-calendar</id>
    <name>活动日历</name>
    <file>tshop-um-calendar.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">活动日历模块，最多可添加5个活动。</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190,550,750,950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="活动日历">
            <section folded="false" title="活动1">
                <param ptype="text" name="date1" label="活动日期" formType="text" description="输入一个数字，此项填写后，对应的活动图片才有效(比如：本月的20号)">12</param>
                <param ptype="text" name="pic1" label="活动图片" formType="text" description="图片大小（620*362）">http://img02.taobaocdn.com/imgextra/i2/594992150/T2tEawXi0bXXXXXXXX_!!594992150.jpg</param>
                <param ptype="text" name="link1" label="活动链接" formType="text" description="图片链接">#</param>
            </section>
            <section folded="true" title="活动2">
                <param ptype="text" name="date2" label="活动日期" formType="text" description="输入一个数字，此项填写后，对应的活动图片才有效(比如：本月的20号)">18</param>
                <param ptype="text" name="pic2" label="活动图片" formType="text" description="图片大小（620*362）">http://img02.taobaocdn.com/imgextra/i2/594992150/T2.vmFXfFbXXXXXXXX_!!594992150.jpg</param>
                <param ptype="text" name="link2" label="活动链接" formType="text" description="图片链接">#</param>
            </section>
            <section folded="true" title="活动3">
                <param ptype="text" name="date3" label="活动日期" formType="text" description="输入一个数字，此项填写后，对应的活动图片才有效(比如：本月的20号)"></param>
                <param ptype="text" name="pic3" label="活动图片" formType="text" description="图片大小（620*362）"></param>
                <param ptype="text" name="link3" label="活动链接" formType="text" description="图片链接"></param>
            </section>
            <section folded="true" title="活动4">
                <param ptype="text" name="date4" label="活动日期" formType="text" description="输入一个数字，此项填写后，对应的活动图片才有效(比如：本月的20号)"></param>
                <param ptype="text" name="pic4" label="活动图片" formType="text" description="图片大小（620*362）"></param>
                <param ptype="text" name="link4" label="活动链接" formType="text" description="图片链接"></param>
            </section>
            <section folded="true" title="活动5">
                <param ptype="text" name="date5" label="活动日期" formType="text" description="输入一个数字，此项填写后，对应的活动图片才有效(比如：本月的20号)"></param>
                <param ptype="text" name="pic5" label="活动图片" formType="text" description="图片大小（620*362）"></param>
                <param ptype="text" name="link5" label="活动链接" formType="text" description="图片链接"></param>
            </section>
        </group>
    </parameters>
</module>
